@charset "UTF-8";

@font-face {
    font-family: 'six-caps';
    src: url('fonts/SixCaps-Regular.ttf') format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:#f7c98e ;
    --cor1:#f5ea4e ;
    --cor2: #fdee21;
    --cor3: #fac601;
    --cor4: #f5941e;
    --cor5: #f85c27;
    
}


body {
    background-color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    position: relative;
}
#arco-ires{
    

            position: absolute;
            left: 91%;
            top: 35%;

            transform: translate(-30% -20%);
            height: 120px;
            width: 118px;
           
}
    

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    font-family: 'six-caps';
    font-size: 2em;
    color: black;
    padding: 5px;
    text-align: center;
    min-height: 173px;
    font-weight: normal;
}
header > h1{
  

}  

header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
}

nav{
    background-color: var(--cor1);
    margin-bottom: 10px;
    padding: 15px;
    min-height: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.199);
    text-align: right;

}

#home{
    color:black;
}
    nav > a {
        text-align: justify;
        color: var(--cor5);
        font-family: Arial, Helvetica, sans-serif;
        border: 5px;
        padding: 20px;
        text-decoration: none;
        font-weight: bolder;
        border-radius: 3px;
        transition-duration: 1s;
    
    }


section{
    background-color: white;
    padding: 20px;
    max-height: 500px;
    max-width: 50%;
}

section > p {
    max-width: 300px;  
}

#descrição1{
    display: inline-block;
    text-align: justify;
    padding-bottom: 40px;
    
}


section#s1{
    background-color:#f5ea4e ;

}

img{
    height: 300px;
    max-width: 350px;
    padding: 10px;
}




footer{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    height: 30px;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}