@charset "UTF-8";

@font-face {
    font-family: 'six-caps';
    src: url('fonts/SixCaps-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.ttf') format('opentype');
}


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:#f7c98e ;
    --cor1:#f5ea4e ;
    --cor2: #fdee21;
    --cor3: #fac601;
    --cor4: #f5941e;
    --cor5: #f85c27;
    
}


body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    position: relative;
}

    

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    min-height: 180px;
    
}
header > h1{
    font-family: 'six-caps';
    font-size: 4em;
    color: black;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    

}  

header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;
}

nav{
    background-color: var(--cor1);
    margin-bottom: 10px;
    padding: 15px;
    min-height: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.199);
    text-align: left;

}

#home{
    color:black;
}
    nav > a {
        text-align: justify;
        color: var(--cor5);
        font-family: Arial, Helvetica, sans-serif;
        border: 5px;
        padding: 20px;
        text-decoration: none;
        font-weight: bolder;
        border-radius: 3px;
        transition-duration: 1s;
    
    }


h1{
    text-align: center;
    font-family: 'Bebas Neue', 'cursive';
    padding: 10px;
    padding-bottom: 20px;
}



div{
    display: inline-block;
    background-color: white;
    padding: 1px;
    max-height: 500px;
    border: 0px;
    
}

div > p {
    max-width: 300px;  
}

div > figure {
    text-align: center;
    
}





img{
    height: 300px;
    max-width: 350px;
    padding: 10px;
}




footer{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    height: 30px;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}